.wpbdp-admin-page-fees {
	.tablenav {
		display: none;
	}
	.wp-list-table .wpbdp-drag-handle {
		margin-right: 15px;
		display: none;
	}
	.purchase-gateways {
		border: none;
		box-shadow: none;
		.wpbdp-fee-gateway-list {
			padding-left: 20px;
			padding-right: 20px;
			@media only screen and (max-width: 960px) {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
		
		h2 {
			font-size: 19px;
		}
		.gateway {
			a , div {
				img.gateway-logo {
					height: 33px;
					margin: 0;
					padding: 0;
					border: none;
				}
			}
			.gateway-title {
				display: block;
				height: 33px;
				margin: 0;
			}
			h3.gateway-title {
				font-size: 30px;
				display: inline-block;
			}
			.gateway-description {
				min-height: 30px;
				margin-top: 10px;
				color: @text-meta-color;
			}
			a.price {
				margin-top: 10px;
				display: block;
				color: green;
				font-size: 22px;
				font-weight: bold;
			}

			.gateway-footer {
				.button-primary {
					width: 99px;
					text-align: center;
				}
			}

			.check-mark {
				font-size: 150%;
				font-weight: bold;
				color: green;
			}
		}
		.gateway.installed {
			opacity: 0.5;
		}
	}
	.howto {
		opacity: 0.7;
		.title {
			font-weight: 600;
			clear: both;
			font-size: 14px;
			display: block;
		}
	}
	.fees-order {
		.button-secondary {
			line-height: 2;
		}
	}
}

#wpbdp-admin-admin-page-fees .column-attributes .wpbdp-tag {
	background: green;
	color: #fff;
}


#wpbdp-fee-form {
	#limit-categories-list {
		font-size: 90%;

		p {
			margin: 10px 0;
		}

		select {
			width: 100%;
		}

		.select2-selection {
			padding: 0 0 2px 0;
			margin: 0;
			border-radius: 5px;
			border-color: rgb(221, 221, 221);
			min-height: 26px;
		}

		.select2-selection__choice {
			border: none;
			padding: 0;
			margin: 2px 4px 0 0;
			.wpbdp-tag;

			.select2-selection__choice__remove {
				color: #fff;
			}
		}

		.select2-search {
			margin-bottom: 0;
		}

		.wpbdp-category-item {
			width: 33.33%;
			float: left;
			padding: 2px 0;
		}
	}

	.pricing-details-variable {
		&> td {
			padding-top: 0;
		}

		table {
			th {
				font-weight: normal;
			}

			td:last-child {
				width: 100%;
			}

			td {
				&.category-name-col {
					padding-right: 20px;
					text-align: right;
				}

				&.category-price-col {
				}

				font-size: 90%;
				padding: 0;
			}
		}

		.wpbdp-variable-pricing-configurator-row {
			input {
				width: 100px;
			}
		}
	}

	.pricing-options {
		label {
			display: block;
		}
	}

	.fee-pricing-details {
		input[type="text"] {
			width: 100px;
		}
	}
}
