.wpbdp-review-notice {
	&.notice {
		border: 1px solid #ddd;
		text-align: center;
		position: fixed !important;
		z-index: 999;
		bottom: 0;
		right: 0;
		width: 400px;
		form, p {
			font-size: 14px;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	a {
		margin: 5px;
	}
	.wpbdp-button {
		&-primary, &-secondary{
			min-width: 100px;
			display: inline-block;
			text-align: center;
			padding: 2px 10px;
		}
	}
	p > span {
		font-size: 13px;
		opacity: 0.75;
	}
	.wpbdp_error, label {
		color: #444;
		text-align: left;
	}
	label {
		font-size: 14px;
	}
}
