.wpbdp-admin-page-settings {
    .nav-tab {
        &.tab-error {
            border-top: solid 1px red;
        }

        &.tab-warning {
            border-top: solid 1px yellow;
        }
    }

    .form-table tr > th {
        min-width: 250px;
    }

    .form-table tr > th > h3 {
        font-size: 1.2em;
        margin: 0 auto;
    }

    .wpbdp-setting-description {
        color: @text-meta-color;
        font-style: italic;
        display: block;
        font-size: 12px;
    }

    .wpbdp-setting-tooltip {
        height: 18px;
        width: 18px;
        font-size: 18px;
        line-height: 18px;
        vertical-align: middle;
        margin-right: 5px;
        color: #666;
        cursor: help;
    }

    input[type="text"], input[type="url"], textarea {
        width: 85%;
        padding: 7px;
    }

    textarea {
        min-height: 150px;
    }

    .wpbdp-license-key-activation-ui {
        .wpbdp-license-key-activate-btn, .wpbdp-license-key-deactivate-btn {
            margin-left: 10px;
            display: none;
        }
        .wpbdp-license-key-activate-btn {
            display: inline-block;
        }

        &.wpbdp-license-status-valid {
			.howto,
            .wpbdp-license-key-activate-btn {
                display: none;
            }
            .wpbdp-license-key-deactivate-btn {
                display: inline-block;
            }
        }

		&.wpbdp-license-status-not-verified {
			input[type=text] {
				border-color: @red;
			}
		}

		.wpbdp-license-key-activation-status-msg,
        .wpbdp-license-key-input {
            width: 70%;
        }

        .wpbdp-license-key-activation-status-msg {
            font-size: 90%;
            border-radius: 4px;
            padding: 8px;
            margin: 3px 0;
            box-sizing: border-box;

            &.status-success {
				border-color: #27a533;
            }

            &.status-error {
                border-color: @red;
            }
        }
    }

    tr.wpbdp-setting-disabled {
        display: none;
    }

    .wpbdp_upgrade_to_pro {
        text-align: center;
        margin-top: 80px;
    }
}

.form-table {
	.wpbdp-collapse-row-last td,
	.wpbdp-collapse-row-last th,
	.wpbdp-collapse-row th,
	.wpbdp-collapse-row td {
		padding-bottom: 0;
		padding-top: 0
	}

	.wpbdp-collapse-row-first td,
	.wpbdp-collapse-row-first th {
		padding-bottom: 0;
	}
}

.wpbdp-tooltip-msg {
	background: #333 !important;
	border-width: 1px !important;
	border-radius: 3px !important;
	box-shadow: 1px 1px 2px 1px rgba(214,214,214,0.5) !important;
	color: #dedede !important;
	max-width: 300px !important;
	padding: 7px !important;
	text-rendering: optimizeLegibility;
	text-shadow: none !important;
	z-index: 9999 !important;
}

#wpbdp-admin-page-settings select {
    display: block;
}

#wpbdp-admin-page-settings {
    .wpbdp-settings-choice-radio {
        margin: 0 0 5px 0;
    }
}

#wpbdp-admin-page-settings tr.disabled {
    opacity: 0.7;
}

#wpbdp-admin-page-settings .text-fields-warning {
    font-size: 90%;
    display: block;
    margin-bottom: 2px;
}

#wpbdp-admin-page-settings .wpbdp-expiration-notice-email-schedule-summary {
    background: @gray;
    font-size: 85%;
    padding: 5px;
}

#wpbdp-admin-page-settings .wpbdp-settings-email {
    margin: 10px 0 0 0;
    border: solid 1px @gray;
    padding: 5px;
    background: #fff;

    &.wpbdp-expiration-notice-email {
        border-bottom: none;
    }

    .short-preview, .wpbdp-settings-email-preview {
        color: #999;
        font-size: 90%;
        height: 45px;
        cursor: pointer;
        overflow: hidden;

        h4 {
            margin: 0 0 10px 0;
        }

        a.wpbdp-settings-email-edit-btn, .edit-toggle {
            float: right;
            color: #fff;
        }

        dl {
            margin: 0;
            padding: 0;

            dt {
                font-weight: bold;
                margin: 0;
                padding: 0;
            }

            dd {
                margin: 0;
                padding: 0 0 0 10px;
            }
        }
    }

    .editor, .wpbdp-settings-email-editor {
        display: none;
        margin-left: 10px;
        font-size: 90%;

        table.form-table {
            margin: 0;
            padding: 0;

            th {
                padding-left: 4px;
                padding-right: 0;
                min-width: 0;
                width: 20%;
            }
        }

        input[type="text"] {
            width: 100%;
        }

        textarea {
            width: 100%;
            min-height: 150px;
        }

        .placeholders {
            margin: 10px 0 0 0;
        }

        .placeholder {
            font-size: 90%;

            .placeholder-code {
                font-family: monospace;
                font-weight: bold;
            }

            .placeholder-description {
                font-style: italic;
            }
        }

        .placeholder-separator {
            margin-top: 10px;
        }

        .buttons {
            margin: 30px 0 0 0;
            text-align: right;

            .preview-email {
                float: left;
            }

            .cancel {
                margin-right: 10px;
            }
        }
    }
}

#wpbdp-admin-page-settings .wpbdp-settings-expiration-notices {

    #wpbdp-settings-expiration-notices-add-btn {
        margin: 0 0 5px 0;
    }

    #wpbdp-settings-expiration-notices-add {
        .wpbdp-expiration-notice-email {
            display: none;
            border-bottom: 1px solid @gray;
        }
    }

    .buttons .delete {
        color: #a00;
        float: left;
        font-size: 13px;

        &:hover {
            color: red;
        }
    }
}

#wpbdp-admin-page-settings {
	.wpbdp-settings-type-checkbox input[type="checkbox"] {
    	vertical-align: bottom;
	}

	.wpbdp-settings-radio-options,
	.wpbdp-settings-multicheck-options {
		grid-gap: 0;

		.wpbdp-settings-radio-option, .wpbdp-settings-multicheck-option {
			margin: 0 0 5px 0;

			input[type="radio"], input[type="checkbox"] {
				vertical-align: bottom;
			}
		}

		& + .wpbdp-setting-description {
			margin: 10px 0 0 0;
		}
	}
}

.wpbdp-settings-radio-option {
	.wpbdp-img-opt {
		display:block;
		margin: 0 auto 10px;
	}
}

#wpbdp-settings-list-layout {
	.wpbdp-settings-radio-option {
		float: left;
		text-align: center;
		margin-right: 1% !important;
		width: auto;
		min-width: 173px;
	}

	input {
		display: none;
	}

	label span {
		border: 2px solid transparent;
		display: inline-block;
		padding-bottom: 10px;
		border-radius: 3px;
        min-width: 176px;
	}

	input:checked + label span {
		border-color: @brand;
	}
}
