.wpbdp-review-notice {
	&.notice {
		form, p {
			font-size: 14px;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	a {
		margin: 5px;
	}
	
	p > span {
		font-size: 13px;
		opacity: 0.75;
	}
	.wpbdp_error, label {
		color: #444;
		text-align: left;
	}
	label {
		font-size: 14px;
	}
}
