/**
 * Listing metabox styles.
 * @since 3.4
 */

#BusinessDirectory_listinginfo .inside {
    margin: 0;
    padding: 0;
}


/* @group Tab selector. */
.listing-metabox-tabs {
    display: block;
    border-bottom: solid 1px #ddd !important;
}

.listing-metabox-tabs li {
    display: inline;
    padding: 1px 8px;
    margin: 0;
}

.listing-metabox-tabs li a {
    text-decoration: none;
}

.listing-metabox-tabs li.selected {
    background: #ddd;
}

.listing-metabox-tabs li.selected a {
    color: #333;
}

#listing-metabox-generalinfo, #listing-metabox-fees, #listing-metabox-transactions {
    display: none;
}

#listing-metabox-generalinfo > strong, #listing-metabox-fees > strong, #listing-metabox-transactions > strong {
    display: block;
    margin-bottom: 10px;
}
/* @end */

/* @group Categories. */
.listing-metabox-tab .listing-categories {
    margin: 20px 0;
}

.listing-category {
    border-bottom: dotted 1px #bbb;
}

.listing-category .header {
    margin-top: 8px;
    min-height: 25px;
}

.listing-category .header .spinner {
    float: right;
    background-size: 15px 15px;
}

.listing-category .category-name {
    text-decoration: underline;
    font-weight: bold;
}

.listing-category.expired .category-name {
    text-decoration: line-through underline;
}

.listing-category .category-status {
    float: right;
}

.listing-category .category-status.ok { background: green; }
.listing-category .category-status.pending { background: red; }

.listing-category .category-details {
    margin-left: 25px;
}

.listing-category dl {
    margin: 0;
    clear: both;    
}

.listing-category dt {
    float: left;
    color: #595959;
    width: 80px;
}

.listing-category dd {
    margin-bottom: 0;
}

.listing-category .expiration-date-info .spinner { float: left; }

.listing-category a.expiration-change-link {
    float: right;
}

.listing-category .datepicker {
    position: absolute;
    z-index: 100;
    right: 10px;
    font-size: 80%;
}

.listing-category .admin-actions {
    margin-top: 10px;
    margin-left: 25px;
    clear: both;    
}

.listing-category .admin-actions li {
    margin: 0;
    padding: 0;
}

.listing-category .admin-actions li.delete {
    margin-top: 10px;
}
    
.listing-category .admin-actions a.category-delete {
    color: #ff0000;
}
/* @end */