.wpbdp-admin-page-fees {
	.tablenav {
		display: none;
	}

    .wp-list-table {
        .column-order {
            width: 65px;
        }
		
		.wpbdp-drag-handle {
			margin-right: 3px;
		}
    }

	.wpbdp-fee-gateway-list {
		padding-left: 20px;
		padding-right: 20px;
		@media only screen and (max-width: 960px) {
			padding-left: 0px;
			padding-right: 0px;
		}

		@media only screen and (max-width: 710px) {
			.wpbdp3, .wpbdp4 {
				grid-column: span 6 / span 6 !important;
			}
		}
	}

	h3 {
		margin-top: 50px;
	}

	img.gateway-logo {
		height: 20px;
	}

	.gateway-description {
		min-height: 30px;
		margin-top: 10px;
		opacity: 0.6;
	}

	.gateway-footer {
		.button-primary {
			width: 99px;
			text-align: center;
		}
	}

	.howto {
		opacity: 0.7;
		.title {
			font-weight: 600;
			clear: both;
			font-size: 14px;
			display: block;
		}
	}
	.fees-order {
		.button-secondary {
			line-height: 2;
		}
	}
}

#wpbdp-admin-admin-page-fees .column-attributes .wpbdp-tag {
	background: green;
	color: #fff;
}

#wpbdp-fee-form {
    #limit-categories-list {
        font-size: 90%;

        p {
            margin: 10px 0;
        }

        select {
            width: 100%;
        }

        .select2-selection {
            padding: 0 0 2px 0;
            margin: 0;
            border-radius: 5px;
            border-color: rgb(221, 221, 221);
            min-height: 26px;
        }

        .select2-selection__choice {
            border: none;
            padding: 0;
            margin: 2px 4px 0 0;
            .wpbdp-tag;

            .select2-selection__choice__remove {
                color: #fff;
            }
        }

        .select2-search {
            margin-bottom: 0;
        }

        .wpbdp-category-item {
            width: 33.33%;
            float: left;
            padding: 2px 0;
        }
    }

    .pricing-details-variable {
        &> td {
            padding-top: 0;
        }

        table {
            th {
                font-weight: normal;
            }

            td:last-child {
                width: 100%;
            }

            td {
                &.category-name-col {
                    padding-right: 20px;
                    text-align: right;
                }

                &.category-price-col {
                }

                font-size: 90%;
                padding: 0;
            }
        }

        .wpbdp-variable-pricing-configurator-row {
            input {
                width: 100px;
            }
        }
    }

    .pricing-options {
        label {
            display: block;
        }
    }

    .fee-pricing-details {
        input[type="text"] {
            width: 100px;
        }
    }
}
