@red: #d64226;
@gray: #d2d2d2;
@white: #fff;
@brand: rgb(109, 135, 185);
@default-color: #569AF6;
@wp-border-color: #c3c4c7;
@button: #7E92BC;
@button-hover: #6278A5;

@input-active:#C5CCDB;
@input-hover:#7E92BC;
@input-invalid:#BC7E7E;
@input-valid:#78C53C;

@text-color: #3C4B5D;
@background: #F6F7FB;
@border-color:#C5CCDB;

@text-meta-color:#7C879D;
@link-active:#7E92BC;
@link-red:#A53934;

@tooltip-background:#414B5A;
@table-header-text-color:rgba(40, 47, 54, 0.5);
@modal-background-color:rgba(52, 61, 81, 0.7);
@disabled-background-color:rgba(188, 126, 126, 0.19);
