@red: #d64226;
@green: #1da867;
@white: #fff;
@brand: rgb(109, 135, 185);
@default-color: #569AF6;
@wp-border-color: #c3c4c7;
@button: #7E92BC;
@button-hover: #6278A5;

@input-active:#C5CCDB;
@input-hover:#7E92BC;
@input-invalid:#BC7E7E;
@input-valid:#78C53C;

@text-color: #3C4B5D;
@background: fade( @brand, 7% );
@border-color:#C5CCDB;

@link-active:#7E92BC;

@tooltip-background:#414B5A;

/*
 * Frontend Color Variables
 */
@color-neutral-50: rgb(250 250 250);
@color-neutral-100: rgb(245 245 245);
@color-neutral-200: rgb(229 229 229);
@color-neutral-300: rgb(212 212 212);
@color-neutral-400: rgb(163 163 163);
@color-neutral-500: rgb(115 115 115);
@color-neutral-600: rgb(82 82 82);
@color-neutral-700: rgb(64 64 64);
@color-neutral-800: rgb(38 38 38);
@color-neutral-900: rgb(23 23 23);
@color-neutral-950: rgb(10 10 10);

@color-warning: #fef7d3;
@color-danger: #F6CBCF;
@bg-skeleton-loading-start: rgba(225, 225, 225, 1);
@bg-skeleton-loading-end: rgba(225, 225, 225, 0.1);

@border-main: rgba(63, 75, 91, 0.2);

@shadow-box: rgba(42, 57, 75, 0.15);
