@red: #d64226;
@gray: #d2d2d2;
@white: #fff;
@brand: #6D87B9;
@default-color: #569AF6;
@wp-border-color: #c3c4c7;
@button: rgb(126,146,188);
@button-hover: rgb(96,114,151);

@text-color: #3C4B5D;
@page-background: #F6F7FB;

@text-meta-color:#7C879D;
@link-active:#7E92BC;
