@red: #d64226;
@gray: #d2d2d2;
@default-color: #569AF6;

.wpbdp-rounded-box() {
    padding: 15px 10px 10px;
    border-radius: 2px;

    p:last-child {
        margin-bottom: 0;
    }
}

.wpbdp-reverse-btn() {
	background: transparent !important;
	border: 1px solid @default-color;
	border-color: var(--bd-main-color);
	color: @default-color;
	color: var(--bd-main-color) !important;

	&:hover {
        background: @default-color;
        background: var(--bd-main-color) !important;
		color: #fff !important;
	}
}

.wpbdp-tag {
    background: #444;
    border-radius: 2px;
    padding: 2px 5px;
    color: #fff;
    font-size: 10px !important;
    margin-right: 2px;
    text-decoration: none !important;
    line-height: 1.5 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    // text-transform: uppercase;
}

.wpbdp-display-block {
    display: block;
}

.wpbdp-smaller {
	font-size: 90%;
}

.wpbdp-no-bold {
	font-weight: normal;
}
