@red: #d64226;
@red: #bc0b0b;
@gray: #f0f0f0;

.wpbdp-rounded-box() {
    padding: 15px 10px 10px;
    border-radius: 2px;

    p:last-child {
        margin-bottom: 0;
    }
}

.wpbdp-tag {
    background: #444;
    border-radius: 2px;
    padding: 2px 5px;
    color: #fff;
    font-size: 10px !important;
    margin-right: 2px;
    text-decoration: none !important;
    line-height: 1.5 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // text-transform: uppercase;
}

.wpbdp-display-block {
    display: block;
}
