.wpbdp-dnd-area {
    margin: 0 auto;
    border: 1px solid #ddd;
    width: 100%;

    p.dnd-message {
        font-size: 24px;
        line-height: 24px;
    }
}

.wpbdp-dnd-area p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.wpbdp-dnd-area .dnd-area-inside {
	letter-spacing: 1px;
}

.wpbdp-dnd-area .upload-button {
    position: relative;
    overflow: hidden;
}

.wpbdp-dnd-area .upload-button a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.wpbdp-dnd-area .upload-button input {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none !important;
    z-index: -1;
}

.wpbdp-dnd-area.dragging {
    background: #efefef;
}

.wpbdp-dnd-area .dnd-area-inside {
    margin: 54px auto 38px;
    text-align: center;
}

.wpbdp-dnd-area .dnd-area-inside-working {
    text-align: center;
    margin: 50px auto 38px;
}

.wpbdp-dnd-area .dnd-area-inside-working span {
    font-weight: bold;
}

.wpbdp-dnd-area .dnd-area-inside-error {
    color: #900000;
    text-align: center;
    margin: 50px 25px;
}

.area-and-conditions {
    #image-upload-dnd-area {
        box-sizing: border-box;
        background-color: rgba(86, 154, 246, 0.08);
        border-color: rgba(63, 75, 91, 0.2);
        border-radius: 4px;

        .dnd-buttons a{
            letter-spacing: initial;
        }
    }
}

#image-upload-conditions {
    font-size: 12px;
    margin-bottom: 6px;
	opacity: 0.8;
}

#image-slots-available {
    float: right;
}
