.wpbdp-form-field {
    margin: 12px 0;

    &:first-child {
        margin-top: 0;
    }

    .wpbdp-form-field-label {
        margin: 0 0 3px 0;

        label {
            display: inline-block;
            font-weight: bold;
        }

        .wpbdp-form-field-required-indicator {
            margin-left: 3px;
            font-size: 90%;
        }
    }

    &.wpbdp-form-field-has-description {
        .wpbdp-form-field-label {
            margin-bottom: 0;
        }

        .wpbdp-form-field-description {
            margin-bottom: 3px;
        }
    }

    .wpbdp-form-field-description {
        padding-left: 6px;
        color: #666;
    }

    .wpbdp-form-field-inner {
        padding-left: 6px;
    }

    &.wpbdp-form-field-type-textarea textarea,
    &.wpbdp-form-field-type-textfield input[type="text"],
    &.wpbdp-form-field-type-select select,
    &.wpbdp-form-field-type-social-network input[type="text"],
    &.wpbdp-form-field-type-social-twitter input[type="text"],
    &.wpbdp-form-field-type-social-facebook input[type="text"],
    &.wpbdp-form-field-type-social-linkedin input[type="text"],
    &.wpbdp-form-field-type-phone_number input[type="text"],
    &.wpbdp-form-field-type-date input[type="text"] {
        width: 100%;
        font-size: inherit;
    }

    &.wpbdp-form-field-type-textarea textarea {
        min-height: 50px;
    }

    &.wpbdp-form-field-type-url {
        .wpbdp-url-field-col {
            box-sizing: border-box;
            float: left;
            width: 50%;

            &:first-child {
                padding-right: 10pt;
            }

            &:last-child {
                padding-left: 10pt;
            }

            .sublabel {
                margin: 0;
                display: block;
            }

            input[type="text"] {
                width: 100%;
                font-size: inherit;
            }
        }
    }

    &.wpbdp-form-field-association-content textarea {
        min-height: 80px;
    }

    .field-description {
        font-size: 90%;
        color: #696969;
        float: right;
    }

    .sublabel {
        font-size: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }

    &.wpbdp-form-field-type-image,
    &.wpbdp-form-field-type-social-network {
        .preview {
            margin-bottom: 20px;
        }

        a.delete {
            color: #900000;
            margin-right: 20px;
        }

        input[type="text"] {
            width: 100%;
            font-size: inherit;
        }

        .wpbdp-social-type-field {
            .sublabel {
                display: block;
            }
            .wpbdp-inner-social-field-option:nth-of-type(2n+1) {
                display: inline-block;
                width: 30%;
                margin-right: 40%;
                float: right;
            }
        }
    }
}

.wpbdp-form-field-validation-error-wrapper {
    margin: 24px 0;

    .wpbdp-form-field-validation-errors {
        font-size: 80%;
        color: #d64226;
        position: relative;
        background: #fff;
        border: 1px solid #d64226;
        border-radius: 4px;
        padding: 4px 6px;
        margin: 0 12px 3px 6px;

        &:after, &:before {
            top: 100%;
            left: 12px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-top-color: #fff;
            border-width: 4px;
            margin-left: -4px;
        }

        &:before {
            border-color: rgba(214, 66, 38, 0);
            border-top-color: #d64226;
            border-width: 5px;
            margin-left: -5px;
        }
    }

    .wpbdp-form-field {
        margin: 0;
    }

    .wpbdp-form-field .wpbdp-form-field-label {
    }

    .wpbdp-form-field-inner {
    }

    .wpbdp-form-field-type-textfield .wpbdp-form-field-inner input,
    .wpbdp-form-field-type-textarea .wpbdp-form-field-inner textarea {
        // border-color: #d64226;
    }
}

