@import 'wpbdp_grid.less';

.select2-results {
    font-size: 11px;
}

#wpbdp-submit-listing.wpbdp-submit-page {

    .wpbdp-submit-rootline {
        margin: 20px auto;
        text-align: center;
        display: flex;

        .wpbdp-rootline-section {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100px;

            .rootline-circle {
                display: inline-block;
                width: 48px;
                height: 48px;
                border-radius: 48px;
                vertical-align: top;

                .rootline-counter {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    border-radius: 32px;
                    margin-top: 3px;
                    font-size: 20px;
                    font-weight: bold;

                    .rootline-checkmark {
                        position: relative;
                        top: calc(50% - 4px);
                        margin: auto;
                    }
                }
            }

            .rootline-section-name {
                margin: 10px auto 0;
                text-transform: uppercase;
                font-size: 12px;
            }

            &:first-of-type {
                .rootline-bar.bar-left {
                    background-image:none;
                }
            }

            &:last-of-type {
                .rootline-bar.bar-right {
                    background-image: none;
                }
            }
        }
    }

    .rootline-bar {
        position: relative;
        height: 1px;
        border-top: 1px dashed;
        width: ~"calc(49% - 24px)";
        z-index: -1;

        &.bar-left {
            top: 25px;
            margin-right: ~"calc(50% + 23px)";
        }

        &.bar-right {
            top: 24px;
            margin-left: ~"calc(50% + 23px)";
        }
    }

    .category_list_item() {
        font-size: 10px;
        margin: 0 5px 0 0;
        padding: 1px 6px;
        border-radius: 3px;
        background: #5bc0de;
        color: #fff;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border: none;
    }

    input[type="text"], textarea {
        box-sizing: border-box;
    }

    .wpbdp-submit-listing-section {
        margin: 10px 0 0 0;
        display: block;

        &.collapsed {
            .collapse-indicator {
                &.expanded {
                    display: none;
                }

                &.collapsed {
                    display: inline;
                }
            }

            .wpbdp-submit-listing-section-content {
                display: none;
            }
        }

        &.hidden {
            display: none;
        }
    }

    .wpbdp-submit-listing-section-header {
        display: none;
        background: #ccc;
        text-transform: uppercase;
        font-weight: bold;
        color: #333;
        padding: 2px 10px;
        font-size: 12px;
        cursor: pointer;

        .collapse-indicator {
            margin: 0 10px 0 0;
            display: none;

            &.expanded {
                display: inline;
            }
        }
    }

    .wpbdp-submit-listing-section-content {
        h4 {
            margin: 0 0 10px 0;
        }
    }

    .wpbdp-submit-listing-form-actions {
        margin: 10px 0;
        text-align: center;
        
        button {
            margin: 15px;
        }
    }

    .wpbdp-submit-listing-section-messages {
        margin: 0 0 12px 0;
    }

    .wpbdp-plan-selection-with-tip {
        margin: 24px 0 0 0;
        display: none;
        padding: 10px;
    }

    .wpbdp-submit-listing-section-plan_selection {
        ul.category-list {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                .category_list_item();
                display: inline;
            }
        }

        .wpbdp_continue_to_fields_action {
            text-align: right;
        }
    }

    .wpbdp-editor-area {
        height: 422px;
    }

    .wpbdp-submit-listing-section-listing_images {

        #image-upload-form {
            margin: 15px 10px;
        }

        #wpbdp-uploaded-images {
            margin: 0 0 20px 0;
        }

        .wpbdp-image {
            padding: 10px 0;
            border-bottom: dotted 1px #efefef;

            .wpbdp-image-img {
                width: 60px;
                float: left;
            }

            .wpbdp-image-extra {
                input[type="text"] {
                    width: 60%;
                    display: block;
                }
            }

            .wpbdp-image-delete-link {
                float: right;
                font-size: 11px;
                text-decoration: none;
                color: #900000;
                display: none;

                &:hover {
                    text-decoration: underline;
                    color: #ff0000;
                }
            }

            &:hover {
                .wpbdp-image-delete-link {
                    display: inline;
                }
            }
        }

        .wpbdp-image-draggable-highlight {
            width: 160px;
            height: 160px;
            margin: 0 10px;
            background: red;
            float: left;
        }

        #image-upload-form-no-js {
            width: 0;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }

        .area-and-conditions {
            #image-upload-dnd-area {
                float: none;
                width: 100%;
                box-sizing: border-box;
                background-color: rgba(86, 154, 246, 0.08);
            }
        }

    }

    #image-upload-conditions {
        font-size: 12px;
        margin-bottom: 5px;

        #image-slots-available {
            float: right;
        }
    }

    .wpbdp-submit-listing-section-listing_fields {
        .wpbdp-submit-listing-section-header {
            display: none;
        }

        .wpbdp-submit-listing-section-messages,
        a.reset {
            display: grid;
            grid-column: span 2 / span 2;

            > * {
                display: grid
            }
        }

        .wpbdp-submit-listing-form-actions {
            display: block;
            grid-column: span 2 / span 2;
        }
    }

    .wpbdp-form-field {
        text-align: left;
        font-size: 17px;

        .wpbdp-form-field-inner {
            padding: 0;
            width: 100%;
        }

        &.wpbdp-form-field-type-select:not(.wpbdp-form-field-association-category) {
            grid-column: span 1 / span 1;
    
            &.wpbdp-form-field-association-region {
                grid-column: span 2 / span 2;

                &.wpbdp-regions-hidden {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    
        .wpbdp-upload-widget {
            max-height: 50px;
        }

        .wpbdp-form-field-label {
            position: relative;
            label {
                display: inline-block;
                line-height: 29px
            }
            .wpbdp-form-field-validation-error-wrapper {
                visibility: hidden;
                border-radius: 6px;
                padding: 5px 0;
              
                /* Position the tooltip */
                position: absolute;
                z-index: 1;
                bottom: 40%;
                left: -10px;
            }

            &:hover {
                .wpbdp-form-field-validation-error-wrapper{ 
                    visibility: visible;
                }
            }
        }
    }

    textarea.wpbdp-submit-listing-tos {
        min-height: 100px;
    }

    #change-plan-link {
        text-align: right;
        font-size: 90%;
    }

    #wpbdp-submit-listing-account-details {
        margin: 10px 0 0 0;

        input[type="password"] {
            width: 70%;
            display: inline-block;
        }

        .wpbdp-password-strength-meter {
            float: right;
            width: 20%;
            padding: 4px;
            text-align: center;
            border: 1px solid;

            &.strength-0 {
                // Very weak.
                background-color: #f1adad;
                border-color: #e35b5b;                
            }

            &.strength-2 {
                // Weak.
                background-color: #fbc5a9;
                border-color: #f78b53;
            }

            &.strength-3 {
                // Medium.
                background-color: #ffe399;
                border-color: #ffc733;
            }

            &.strength-4 {
                // Strong.
                background-color: #c1e1b9;
                border-color: #83c373;                
            }
        }
    }

    a.reset {
        font-size: 0.8em;
    }

    &.wpbdp-submit-page-tiny,
    &.wpbdp-submit-page-small {
        .wpbdp-form-field {
            grid-column: span 2 / span 2;
        }
    }

}

