/**
 * The css here should probably be moved to the legacy css once we confirm if it is being used or not.
 */
#wpbdp-submit-listing.wpbdp-submit-page {

	.wpbdp-submit-listing-section {
		margin: 10px 0 0 0;
		display: block;

		&.collapsed {
			.collapse-indicator {
				&.expanded {
					display: none;
				}

				&.collapsed {
					display: inline;
				}
			}

			.wpbdp-submit-listing-section-content {
				display: none;
			}
		}

		&.hidden {
			display: none;
		}
	}

	.wpbdp-submit-listing-section-messages {
		margin: 0 0 12px 0;
	}

	.wpbdp-form-field-inner {
		padding: 0;
		width: 100%;
	}
}
