.thumbnail_by_the_side() {
	flex-direction: row;
	flex-wrap: wrap;

	.wpbdp-listings-widget-thumb {
		flex-basis: 33%;
		width: 33%;
	}
}

.thumbnail_on_right_side() {
	flex-direction: row-reverse;
}

.thumbnail_above() {
    flex-direction: column;
	text-align: center;

    .wpbdp-listings-widget-thumb {
        width: 100%;

		img{
			width: 100%;
		}
    }
}

.wpbdp-listings-widget-list {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;

    li {
        list-style: none;
        border-bottom: 1px dotted #eee;
        margin: 0;
        padding: 2px 0;

        .listing-title {
            font-weight: bold;
            display: block;
        }
    }

    .wpbdp-listings-widget-item {
        padding: 10px 0;
	}

	.wpbdp-listings-widget-container {
		display: flex;
		gap: 0 10px;
	}

	.wpbdp-listings-widget-thumb, .wpbdp-listings-widget-item--title-and-content {
		box-sizing: border-box;
		flex: 0 0 auto;
	}

	.wpbdp-listings-widget-item--title-and-content {
		flex-grow: 1;
		flex: 1;
	}

	.wpbdp-listings-widget-thumb {
		margin: 0;

		a {
			display: block !important;
			margin: 0 auto !important;
			position: relative;
			width: 100%;
		}

		img {
			height: auto;
			max-width: 100%;
			margin: 0 auto;
		}
	}

	.wpbdp-listing-title {
		font-weight: bold;
	}

    .wpbdp-listings-widget-item--field-ratings {
        .count{
            display: none;
        }
    }

    .wpbdp-listings-widget-item-with-left-thumbnail-in-desktop, .wpbdp-listings-widget-item-with-right-thumbnail-in-desktop {
        .thumbnail_by_the_side();
    }

    .wpbdp-listings-widget-item-with-right-thumbnail-in-desktop .wpbdp-listings-widget-container {
        .thumbnail_on_right_side();
    }

    .wpbdp-listings-widget-item-with-thumbnail-above-in-desktop .wpbdp-listings-widget-container {
        .thumbnail_above();
    }
}

@media screen and (min-width: 44em) {
    .wpbdp-listings-widget-items-list {
        .wpbdp-listings-widget-item-with-left-thumbnail-in-mobile, .wpbdp-listings-widget-item-with-right-thumbnail-in-mobile {
            .thumbnail_by_the_side();
        }
    
        .wpbdp-listings-widget-item-with-right-thumbnail-in-mobile .wpbdp-listings-widget-container {
            .thumbnail_on_right_side();
        }
    
        .wpbdp-listings-widget-item-with-thumbnail-above-in-mobile .wpbdp-listings-widget-container {
            .thumbnail_above();
        }
    }
}
