.wpbdp-wp-theme-twentynineteen,
.wpbdp-wp-theme-twentytwenty,
.wpbdp-wp-theme-twentytwentyone {
    .wpbdp-main-box {
        .submit-btn input[type="submit"] {
            padding: 16px 12px;
            font-size: 14px;
        }
        .box-col {
            .distance-field {
                input {
                    min-width: 70px;
                }
            }
            .unit-label {
                font-size: 14px;
            }
        }
    }
}

.wpbdp-wp-theme-twentynineteen {
    .wpbdp-main-box {
        .box-col {
            .unit-label {
                font-size: 16px;
                @media screen and (min-width: 1900px) {
                    font-size: 20px;
                }
            }
        }
    }
}

.wpbdp-wp-theme-twentytwenty {
    .wpbdp-page{
        max-width: 69rem !important;
    }
}
.wpbdp-wp-theme-twentysixteen {
    .wpbdp-listing .social-fields {
        .social-field.linkedin {
            vertical-align: text-top;
        }
    }
}

.wpbdp-wp-theme-twentyseventeen {

    .single-featured-image-header {
        display: none;
    }

    .wpbdp-listing {
        
        .social-fields .twitter.twitter-handle {
            vertical-align: text-top;
            padding-top: 1px;
        }
    }
}

.wpbdp-wp-theme-twentynineteen {

    .wpbdp-listing .social-fields {
        .twitter.twitter-handle {
            vertical-align: text-top;
        }
    }
}

.wpbdp-wp-theme-twentytwenty {
    .wpbdp-main-links .wpbdp-button,
    .box-col.submit-btn input,
    .listing-actions {
        font-size: 1.1rem;
    }

    .wpbdp-listing-excerpt {
        font-size: 1.8rem;
    }
    
    .wpbdp-listing .social-fields {
        .social-field.facebook,
        .social-field.instagram {
            margin-top: -5px;
            vertical-align: top;
        }
    }
}

.wpbdp-wp-theme-twentytwentytwo {
	&.single-wpbdp_listing {
		.listing-title {
			display: none;
		}
	}

	.wpbdp-page {
		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="password"],
		input[type="search"],
		input[type="number"],
		input[type="tel"],
		input[type="date"],
		input[type="month"],
		input[type="week"],
		input[type="time"],
		input[type="datetime"],
		input[type="submit"],
		select,
		textarea {
			padding: 8px;
			max-width: 100%;
			font-size: inherit;
			font-family: inherit;
		}

		.wpbdp-button,
		input[type="submit"] {
			color: var(--wp--preset--color--background);
			background-color: var(--wp--preset--color--primary);
			text-decoration: none;
		}

		/* Big buttons */
		.wpbdp-submit-listing-form-actions .wpbdp-button,
		.wpbdp-submit.wpbdp-button,
		.wpbdp-main-links .button {
			padding: ~'calc(0.667em + 2px) calc(1.333em + 2px)';
			font-size: var(--wp--preset--font-size--medium);
		}
	}

	.wpbdp-button {
		color: var(--wp--preset--color--background);
	}
}
