/* Abstracts */
@variables-dir: "./wpbdp/abstracts/variables";
@import "@{variables-dir}/colors.less";
@import "@{variables-dir}/box.less";
@import "@{variables-dir}/typography.less";

/* Mixins */
@mixins-dir: "./wpbdp/abstracts/mixins";
@import "@{mixins-dir}/mixins.less";

/* Base */
@base-dir: "./wpbdp/base";
@import "@{base-dir}/base.less";

/* Elements */
@elements-dir: "./wpbdp/elements";
@import "@{elements-dir}/buttons.less";
@import "@{elements-dir}/alerts.less";
@import "@{elements-dir}/forms.less";
@import "@{elements-dir}/modal.less";
@import "@{elements-dir}/loaders.less";

/* Components */
@components-dir: "./wpbdp/components";
@import "@{components-dir}/search-bar.less";
@import "@{components-dir}/advanced-search.less";
