/**
 * Box Variables
 *
 * This file includes box variables.
 */

// With/Height
@min-height-search-box-input: 40px;

// Border Radius
@border-radius-main: 4px;
@border-radius-modal: 12px;

// Padding
@padding-input-wp-current-themes: 10px 15px;
@padding-advanced-search-button: 12px;

// Margin
@margin-form-field-with-error: 0 12px 3px 6px;
