@admin-dir: "../../../admin";
@import "@{admin-dir}/colors.less";

/* Color */
@color-primary: #569af6;
@color-primary--20: rgba(86, 154, 246, 0.2);
@color-primary--hover: darken(@color-primary, 12%);
@color-text: var( --bd-text-color, #3F4B5B );
@color-text--60: rgba(63, 75, 91, 0.6);
@color-black: #161619;
@color-gold: #ffba33;
@color-bg: var( --bd-bg-color, @color-neutral-100 );

/* Buttons */
@btn-text: var( --bd-button-text-color, #fff );
@btn-bg: var( --bd-button-bg-color, --bd-main-color );

/* Background */
@bg-warning: #fef7d3;
@bg-danger: #F6CBCF;
@bg-gray: #ededed;
@bg-gray-blue: #eef3f8;
@bg-dropdown: rgba(65, 153, 253, 0.1);
@bg-upload-box: rgba(86, 154, 246, 0.08);
@bg-modal-footer: #f4f4f4;

/* Border */
@border-main: rgba(63, 75, 91, 0.2);
@border-secondary: rgba(63, 75, 91, 0.1);

/* Shadow */
@box-shadow: rgba(42, 57, 75, 0.15);
@box-shadow-light: rgba(42, 57, 75, 0.05);


