/**
 * Typography Variables
 *
 * This file includes typography variables.
 */

// Font Sizes
@font-size-sm: var( --wp--preset--font-size--small, 12px );
@font-size-md: var( --wp--preset--font-size--medium, 14px );

// Line Heights
@line-height: 1.8;

/* Font Size */
@font-size-body: @font-size-md;
@font-size-h2: var(--wp--preset--font-size--x-large, 32px );
