/* Sidebar */
.wpbdp-admin-content.with-sidebar {
    margin-top: 20px;
    /*float: left;*/
    /*width: 80%;*/
    /*margin-right: 300px;*/
    clear: left;
    float: left;
    width: 78%;
}

.wpbdp-admin .sidebar {
    margin-top: 20px;
    float: right;
    clear: right;
    width: 20%;
}

.wpbdp-admin .sidebar .postbox {
    min-width: 0 !important;
}

.wpbdp-admin .sidebar .premium-modules h3 span {
    color: #145200;
    font-weight: bold;
}

.wpbdp-admin .sidebar .premium-modules  {
    border-color: #0EAD00;
    border-width: 3px;
    background: #FFFFCF;
}

/* Directory list-table */
td.column-bd_payment_status .status, td.column-bd_sticky_status .status {
    background: #444;
    border-radius: 2px;
    padding: 2px 5px;
    color: #fff;
    font-size: 90%;
}

td.column-bd_payment_status .status.paid {
    background: green;
}

td.column-bd_payment_status .paymentdata {
    font-size: 85%;
}

td.column-bd_payment_status .paymentdata b {
    font-weight: normal;
}

td.column-bd_payment_status .paymentdata span {
    font-style: italic;
}

td.column-bd_sticky_status .status.notpaid {
    background: orange;
}

td.column-bd_sticky_status .status.pending {
    background: red;
    font-weight: bold;
}

td.column-bd_sticky_status .status.approved {
    background: green;
}

#BusinessDirectory_listinginfo .inside {
    margin: 0;
    padding: 0;
}

#BusinessDirectory_listinginfo .inside .clear {
}

/* Form fields list table */
table.wp-list-table td .tag {
    background: #444;
    border-radius: 2px;
    padding: 2px 5px;
    color: #fff;
    font-size: 90%;
    margin-right: 2px;
}

table.wp-list-table.formfields th.column-label {
    width: 40%;
}

table.wp-list-table.formfields th.column-tags {
    width: 130px;
}

table.wp-list-table.formfields th.column-order {
    width: 40px;
}

table.wp-list-table.formfields .tag.required {
    background: orange;
}

table.wp-list-table.formfields .tag.in-excerpt {
    background: green;
}

#wpbdp-listing-fields input {
    width: 70%;
}

/* FIXME: some front-end styles */
ul#wpbusdirmanerrors { margin-left:20px; }
.wpbusdirmanerroralert { color:#ff0000;font-weight:bold;font-size:14px; }