{
	"root": true,
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended",
		"plugin:jsdoc/recommended",
		"plugin:react-hooks/recommended"
	],
	"plugins": [ "@wordpress", "jsdoc", "react-hooks" ],
	"rules": {
		"object-curly-spacing": [ "error", "always" ],
		"import/order": [
			"error",
			{
				"groups": [
					"builtin",
					[ "external", "unknown" ],
					"internal",
					"parent",
					"sibling",
					"index"
				]
			}
		],
		"jsdoc/check-indentation": "error",
		"react/no-array-index-key": "warn",
		"react/prop-types": "error",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": [
			"error",
			{
				"additionalHooks": "useSelect"
			}
		],
		"@wordpress/dependency-group": "error",
		"@wordpress/react-no-unsafe-timeout": "error",
		"@wordpress/i18n-text-domain": [
			"error",
			{
				"allowedTextDomain": "business-directory-plugin"
			}
		],
		"@wordpress/valid-sprintf": "error"
	},
	"globals": {
		"FormData": "readonly",
		"alert": "readonly",
		"jQuery": "readonly",
		"wpbdp": "readonly"
	}
}
