# Items to ignore when downloading a zip

.git export-ignore
.github export-ignore
.gitignore export-ignore
.*.js export-ignore
.* export-ignore
.wordpress-org export-ignore
*.lock export-ignore
package-lock.json export-ignore
composer.json export-ignore
composer.lock export-ignore
Gruntfile.js export-ignore
/assets/css/less/ export-ignore
node_modules export-ignore
package.json export-ignore
phpcs.xml export-ignore
phpmd.xml export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore
*.md export-ignore
*.yml export-ignore
stubs.php export-ignore
tests export-ignore
