parameters:
	reportUnmatchedIgnoredErrors: false
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- stubs.php
	excludePaths:
		- */assets/*
		- */vendor/*
		- */vendors/*
		- */languages/*
		- */tests/*
		- stubs.php
	ignoreErrors:
		- '#Access to an undefined property#'
		- '#no (typehint|value type|return type)+ specified.#'
		- '#might not be defined.#'
		- '#Function (apply_filters)+ invoked with#'
