.wpbdp-admin-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    display: block;
    &-cog {
        background-image: url('../images/icons/cog.svg');
    }
    &-email {
        background-image: url('../images/icons/email.svg');
    }
    &-layout {
        background-image: url('../images/icons/layout.svg');  
    }
    &-list {
        background-image: url('../images/icons/list.svg');
    }
    &-money {
        background-image: url('../images/icons/money.svg');
    }
    &-package {
        background-image: url('../images/icons/package.svg');
    }
}
