.wpbdp-admin-icon {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px 24px;
	background-color: @text-color;
	vertical-align: middle;

	&-cog {
		-webkit-mask-image: url('../images/icons/cog.svg'); 
		mask-image: url('../images/icons/cog.svg');
	}
	&-email {
		-webkit-mask-image: url('../images/icons/email.svg'); 
		mask-image: url('../images/icons/email.svg');
	}
	&-layout {
		-webkit-mask-image: url('../images/icons/layout.svg'); 
		mask-image: url('../images/icons/layout.svg');  
	}
	&-list {
		-webkit-mask-image: url('../images/icons/list.svg'); 
		mask-image: url('../images/icons/list.svg');
	}
	&-money {
		-webkit-mask-image: url('../images/icons/money.svg'); 
		mask-image: url('../images/icons/money.svg');
	}
	&-package {
		-webkit-mask-image: url('../images/icons/package.svg'); 
		mask-image: url('../images/icons/package.svg');
	}
	&-misc {
		-webkit-mask-image: url('../images/icons/misc.svg'); 
		mask-image: url('../images/icons/misc.svg');
	}
	&-key {
		-webkit-mask-image: url('../images/icons/key.svg'); 
		mask-image: url('../images/icons/key.svg');
	}
	&-clipboard {
		-webkit-mask-image: url('../images/icons/clipboard.svg'); 
		mask-image: url('../images/icons/clipboard.svg');
	}
	&-folder {
		-webkit-mask-image: url('../images/icons/folder.svg'); 
		mask-image: url('../images/icons/folder.svg');
	}
	&-import {
		-webkit-mask-image: url('../images/icons/import.svg'); 
		mask-image: url('../images/icons/import.svg');
	}
	&-tag {
		-webkit-mask-image: url('../images/icons/tag.svg'); 
		mask-image: url('../images/icons/tag.svg');
	}
	&-archive {
		-webkit-mask-image: url('../images/icons/archive.svg'); 
		mask-image: url('../images/icons/archive.svg');
	}
}

.wpbdp-admin-module-icon img {
	width: 100%;
}
