.wpbdp-file-input {
	input[type="file"] {
		display: none;
	}
	.wpbdp-inner-file-input {
		border:1px solid @button;
		border-radius: 4px;
		display: inline-block;
		padding: 6px 12px;
		cursor: pointer;
		color: @button;
	}
}

.wpbdp-right {
	select, input[type="number"] {
		float: right;
	}
}

.wpbdp-input-wide,
.wpbdp-admin-dialog,
.wpbdp-admin-page-settings,
.wpbdp-admin-page-csv {
	textarea,
	select,
	input[type="text"] {
		width: 100%;
		max-width: 100%;
	}
}

.wpbdp-admin-page,
.wpbdp-admin-dialog {
	input[type="text"],
	input[type="url"],
	input[type="search"],
	select,
	textarea {
		border-color: @border-color;
	}

	textarea {
		min-height: 150px;
	}
}
