.wpbdp-file-input {
	input[type="file"] {
		display: none;
	}
	.wpbdp-inner-file-input {
		border:1px solid @button;
		border-radius: 4px;
		display: inline-block;
		padding: 6px 12px;
		cursor: pointer;
		color: @button;
	}
}

.wpbdp-right {
	select, input[type="number"] {
		float: right;
	}
}

.wpbdp-input-wide,
.wpbdp-admin-dialog,
.wpbdp-admin-page-settings,
.wpbdp-admin-page-csv {
	textarea,
	select,
	input[type="text"],
	input[type="number"],
	input[type="url"] {
		width: 100%;
		max-width: 100%;
	}
}

.wpbdp-admin-page,
.wpbdp-admin-dialog {
	input[type="text"],
	input[type="url"],
	input[type="search"],
	select,
	textarea {
		border-color: @input-active;
		&:default {
			border-color: @input-active;	
		}
		&:hover, &:active {
			border-color: @input-hover;
		}
		&:disabled {
			background-color: @background;
			border-color: @input-active;
		}
		&:invalid {
			border-color: @input-invalid;
		}
		&.valid {
			border-color: @input-valid;
		}
	}

	textarea {
		min-height: 150px;
	}
}
