.wpbdp {
    &-admin-layout {
        background-color: @page-background;
        margin-top: 0px;
        margin-right: 0px;
        padding-top: 0px;
        padding-left: 10px;
        h1 {
            color: @text-color;
        }
    }
    &-title-buttons {
        clear: both;
    }
    &-no-padding{
        padding-left: 0;
        padding-right: 0;
    }
    &-admin-row {
        margin: 0;
    }
    &-nav-items{
        .wpbdp-nav-item {
            .active{
                background-color: @white;
                color: @link-active;
                .menu-item-icon svg{
                    color: @link-active;
                }
            }
        }
    }
    &-content-area{
        background-color: @white;
        color: @link-active;
        padding: 20px;
    }
}
.directory_page_wpbdp_settings {
    #wpcontent {
        padding-left: 0px;
    }
}