.minimized_menu() {
    .title-text{
        display: none;
    }
    .wpbdp-nav-item-name {
        display: none;
    }
    .wpbdp-nav-item-link {
        padding: .8rem .5rem .5rem 17px;
    }
    .wpbdp-menu-area {
        width: 57px;
    }
    .wpbdp-page-title {
        padding-left: 10px !important;
    }
    .wpbdp-content-area {
        margin-left: 57px;
        width: ~"calc(100% - 57px)";
    }
    .wpbdp-icon-maximized{
        display: none;
    }
    .wpbdp-icon-minimized{
        display: block;
    }
    .wpbdp-nav-toggle {
        .wpbdp-nav-item-icon {
            margin: 0;
        }
    }
}
::before, ::after, * {
    box-sizing: border-box;
}
.wpbdp {
    
    &-admin-layout {
        background-color: @page-background;
        margin: 0px;
        padding-top: 0px;
        padding-left: 0px;
        display: inline-block;
        width: 100%;
        h1 {
            color: @text-color;
        }
    }
    &-title-buttons {
        clear: both;
    }
    &-no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    &-page-title {
        padding-left: 20px !important;
        padding-bottom: 9px !important;
    }
    &-admin-row {
        margin: 0;
        display: flex;
        &.minimized{
            .minimized_menu();
        }
        @media only screen and (max-width: 960px) {
            .wpbdp-content-area-header {
                height: 60px;
            }
            .wpbdp-menu-area {
                padding: 37px 0;
            }
            .minimized_menu();
        }
    }
    &-menu-area {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 287px;
        background-color: @page-background;
    }
    &-nav-items {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        flex-direction: column;
        margin-bottom: auto;
        margin-top: 0;
        .wpbdp-nav-item {
            font-size: 16px;
            &-link {
                display: block;
                padding: .5rem .5rem .5rem 20px;
                text-decoration: none;
                color: @text-color;
                border-radius: 0;
                &:focus {
                    box-shadow: none;
                }
            }
            color: @text-color;
            .active {
                background-color: @white;
                color: @link-active;
                .wpbdp-nav-item-icon {
                    &:before {
                        color: @link-active;
                    }
                    span {
                        background-color: @link-active;
                    }
                }
            }
            .wpbdp-nav-item-meta {
                width: 210px;
                margin: 13px 0;
                color: @text-meta-color;
                font-size: 14px;
            }
        }
    }
    &-nav-item-icon {
        display: block;
        margin: 0 auto;
    }
    &-nav-toggle {
        bottom: 0;
        position: relative;
        margin-top: 40px;
        margin-left: 15px;
        cursor: pointer;
        color: @text-meta-color;
        font-size: 14px;
        width: 200px;
        @media only screen and (max-width: 960px) {
            display: none;
        }
        .wpbdp-nav-item-name {
            line-height: 2;
        }
    }
    &-nav-tooltip {
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            left: 50px;
            background-color: @tooltip-background;
            border-radius: 5px;
            color: #fff;
            content: attr(title);
            padding: 1rem;
            text-transform: none;
            transition: all 0.5s ease;
            width: 160px;
        }
    
        //Tooltip arrow
        &::after {
            position: absolute;
            top: 20px;
            left: 49px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid @tooltip-background;
            content: " ";
            font-size: 0;
            line-height: 0;
            margin-left: -4px;
            width: 0;
        }
        
        //Setting up the transition
        &::before,
        &::after {
            color: @white;
            font-size: 12px;
            opacity: 0;
            pointer-events: none;
            text-align: left;
        }
        
        //Triggering the transition
        &:focus::before,
        &:focus::after,
        &:hover::before,
        &:hover::after {
            opacity: 0.8;
            transition: all 0.75s ease;
        }
    }
    &-icon-minimized {
        display: none;
    }
    &-content-area {
        background-color: @white;
        color: @link-active;
        width: ~"calc(100% - 287px)";
        position: relative;
        min-height: 100vh;
        top: 0;
        bottom: 0;
        margin-left: 287px;
        .h2, h2 {
            font-size: 14px;
            font-weight: 600;
        }
        &-header {
            width: 100%;
            padding: 10px 40px;
            height: 54px;
            background-color: @white;
            border-bottom: 1px solid @border-color;
            flex-direction: row;
            align-items: stretch;
            display: flex;
            > div {
                flex: 1;
            }
            &-actions {
                p.submit {
                    float: none;
                    padding: 0;
                    margin-top: 0;
                    text-align: right;
                }
            }
        }
        &-body {
            padding: 30px 80px;
            font-size: 14px;
            @media only screen and (min-width: 960px) {
                max-width: 1000px;
            }
        }
    }
    &-sub-section-title {
        padding-top: 0 !important;
    }
    &-settings-form {
        width: 100%;
        display: inline-block;
        color: @text-color;
        .wpbdp-setting-row {
            padding-bottom: 0px;
        }
        &-title {
            margin: 10px 0;
        }
    }
    &-setting-label,
    &-setting-form-title label {
        color: @text-color;
        font-weight: 600;
        font-size: 14px;
        padding-bottom: 5px;
        line-height: 15.25px;
    }
    &-setting-desc {
        color: @text-color;
        font-size: 12px;
        opacity: 0.7;
        padding: 0px 0px 5px 0px;
    }
}

.wpbdp-admin-page {
    .wp-responsive-open #wpbody {
        @media only screen and (max-width: 728px) {
            right: -12em;
        }
    }
}
