.wpbdp-admin-dialog {
	.wpbdp-shadow-box();

	z-index: 100;
	padding: 0 !important;
	max-width: 100% !important;

	.inside:not(.empty) {
		border-top: 1px solid @border-color;
		border-bottom: 1px solid @border-color;

		p {
			padding: 25px;
		}
	}

	.dismiss:focus {
		outline: 0;
		box-shadow: none;
	}

	.dismiss-button{
		text-decoration: none;
		font-weight: 600;
	}

	.form-wrap {
		padding: 10px 25px 25px;

		p {
			padding: 0 !important;
		}

		.inner-message {
			margin-top: 2em;
			margin-bottom: 2em;
		}

		input[type="submit"] {
			float: right;
		}

		.term-description-wrap,
		.term-slug-wrap,
		select + p,
		input + p {
			/* Hide the field descriptions */
			display: none;
		}
	}

	h2 {
		margin: 0;
		margin-right: 25px;
	}

	a {
		color: @link-active;
	}
}

.wpbdp-modal-top,
.wpbdp-modal-bottom {
	padding: 25px;
}

.wpbdp-modal-bottom {
	display: flex;
	align-items: center;

	.alignright {
		margin-left: auto;
	}
}

.wpbdp-modal-overlay {
	background: fade(@text-color, 70%) !important;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
