.wpbdp-admin-dialog {
	--modal-left: 40px;
	--modal-right: 40px;
}

.wpbdp-admin-dialog {
	z-index: 100;
	padding: 0 !important;
	border-radius: 12px;
	border: 1px solid @brand;
	max-width: 100% !important;
	.postbox {
		background: transparent;
		box-shadow: none;
		border: none;
		.inside {
			padding: 0;
			padding-bottom: 15px !important;
		}
	}

	.dismiss {
		z-index: 9999;
		padding-right: 10px;
		position: relative;
		&:focus {
			outline: 0;
			box-shadow: none;
		}
	}
	.dismiss-button{
		text-decoration: none;
		font-weight: 600;
	}
	h2 {
		border-bottom: 1px solid @border-color;
		padding-bottom: 20px !important;
		font-weight: 700 !important;
		padding-left: var( --modal-left ) !important;
		padding-right: var( --modal-right ) !important;
	}

	form {
		padding: 0px 0px 15px 0px !important;
		.form-field {
			margin-left: var( --modal-left ) !important;
			margin-right: var( --modal-right ) !important;
		}
		p.submit {
			position: absolute;
			right: 0;
			margin: 0;
			padding: 0 12px 0 0;
			input[type="submit"] {
				float: right;
				margin-right: 25px;
			}
		}
		p.close {
			position: absolute;
			padding-left: var( --modal-left ) !important;
		}
		.wpbdp-pro-tip {
			.wpbdp-button-secondary {
				line-height: 2;
			}
		}
		.clear {
			margin-top: 20px;
			margin-bottom: 20px;
			border-top: 1px solid @border-color;
		}
	}
}
.wpbdp-modal-overlay {
	background: @modal-background-color !important;
	opacity: inherit !important;
}

.wpbdp-admin-page {
	.wp-responsive-open #wpbody {
		@media only screen and (max-width: 728px) {
			right: -12em;
		}
	}
}