.wpbdp_notification_buttons() {
	border-radius: 12px;
	background-color: @text-color;
	color: @white;
	padding: 5px 15px;
}

.post-type-wpbdp_listing .notice:not(.wpbdp-maintain-notice),
.wpbdp-admin-layout .notice:not(.wpbdp-theme-update-info):not(.wpbdp-review-notice):not(.wpbdp-maintain-notice),
.directory_page_wpbdp_settings .notice:not(.wpbdp-maintain-notice),
.wpbdp-admin-page .wpbdp-notice:not(.wpbdp-upgrade-bar):not(.wpbdp-review-notice):not(.wpbdp-maintain-notice),
.wpbdp-content-area .wpbdp-upgrade-bar {
	display: none;
}

.wpbdp-bell-notifications-list {
	clear: both;
	margin: 0;
	.notice, .wpbdp-upgrade-bar, .wpbdp-notice {
		display: block !important;
	}
	.wpbdp-upgrade-bar {
		margin-left: 0;
	}
}

.wpbdp-bell-notification {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;

	svg {
		height: 48px;
		width: 48px;
		display: block;
	}
}

.wpbdp-bell-notification-icon:focus {
	outline: 0;
	.wpbdp-shadow-box();
}

.wpbdp-bell-notification-icon,
.wpbdp-bell-notifications li {
	.wpbdp-shadow-box();
}

.wpbdp-bell-notifications {
	position: fixed;
	bottom: 69px;
	min-width: 20%;
	right: 20px;
	max-width: 400px;
	font-size: 13px;

	li {
		padding: 10px 25px;
		margin: 0 auto 4px;

		.notice-dismiss {
			right: 0;
			top: 7px;
		}
	}
}

.wpbdp-bell-notifications-close {
	.wpbdp_notification_buttons();
	text-decoration: none;
	display: block;
	float: right;
	margin-bottom: 4px;

	&:hover {
		color: @white;
	}
}

.wpbdp-snackbar {
	min-width: 250px;
	margin-left: -125px;
	background-color: @text-color;
	color: @white;
	text-align: center;
	border-radius: 12px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	-webkit-animation: snackbar-animation-fade-in 0.5s, snackbar-animation-fade-out 0.5s 3s;
  	animation: snackbar-animation-fade-in 0.5s, snackbar-animation-fade-out 0.5s 3s;
	p {
		margin: 0;
		color: @white !important;
	}
	button {
		&::before {
			color: @white !important;
		}
	}
}

.keyframes( @name; @arguments ) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.keyframes( snackbar-animation-fade-in; {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
});

.keyframes( snackbar-animation-fade-out; {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
});
