.wpbdp-admin-page-debug-info,
.wpbdp-admin-page-settings {
	.wpbdp-settings-tab-subtabs {
		margin-bottom: 40px;
		.wpbdp-sub-menu {
			width: auto;
			margin-top: 0;
			padding: 3px 2px;
			border-radius: 7px;
			font-size: 13px;
			background-color: @background;
			li {
				margin: 0 1px;
			}
			a {
				color: @text-color;
				padding: 5px 20px;
				font-weight: 600;
				&:active, &:visited {
					color: @text-color;
					outline: none;
				}
				&:focus {
					box-shadow: none;
				}
				&:hover {
					color: @link-active;
				}
				&.current {
					color: @link-active;
					background-color: @white;
					border-radius: 7px;
					border: 0.5px solid rgba(0, 0, 0, 0.04);
					box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
					-webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
					-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
				}
			}
		}
	}

	.wpbdp-license-key-activation-ui {
		.wpbdp-button-secondary {
			padding: 0;
		}
		p {
			line-height: 26px;
			margin: 0;
		}
		.wpbdp-license-key-input {
			padding: 0 8px !important;
		}
	}
	.wpbdp-settings-form-title h2 {
		font-size: 20px;
	}
	.wpdb-checkbox {
		label {
			font-weight: 500;
			padding-bottom: 0;
		}
	}
}
