
#wpbdp-debugging {
	font-family: consolas, monaco, monospace;
	color: #000;
	background: #fff;
	width: 100%;
	margin: 2px 0;
	clear:both;
	font-size: 11px;
	max-height: 150px;
	overflow: scroll;
}

#wpbdp-debugging table { width: 100%; border-collapse: collapse; }
#wpbdp-debugging table tr { border-top: dotted 1px #666; border-bottom: dotted 1px #666; }
#wpbdp-debugging table td { padding: 0; }
#wpbdp-debugging table td.timestamp { width: 50px; }
#wpbdp-debugging table td.type { width: 100px; }
#wpbdp-debugging table td.message { max-width: 450px; }
#wpbdp-debugging table td.context { width: 200px; }
#wpbdp-debugging table td.file { width: 200px; }

#wpbdp-debugging .php-warning { background: #FFFAA5; }
#wpbdp-debugging .php-deprecated { background: #efefef; }