body .wpbdp-page,
body .wpbdp-single,
body .wpbdp-excerpt {

	input[type="submit"],
	input.submit,
	a.wpbdp-button,
	.wpbdp-button,
	a.reset,
	#change-plan-link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid;
		border-radius: 4px;
		padding: 19px 40px;
		margin: 0;
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 1px;
		transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
		cursor: pointer;
	}

	a.wpbdp-button,
	.wpbdp-button,
	a.reset,
	#change-plan-link {
		border-color: @border-main;
		background-color: transparent;
		color: @color-primary;
	}

	a.wpbdp-button:hover,
	.wpbdp-button:hover {
		background-color: @color-primary;
		color: @white;
	}

	a.reset:hover {
		border-color: @bg-danger;
		background-color: @bg-danger;
		color: darken(@bg-danger, 30%);
	}

	input[type="submit"],
	input.submit,
	.submit-next-button,
	#wpbdp-submit-listing-submit-btn {
		border-color: @color-primary;
		background-color: @color-primary;
		color: @white;
	}

	input[type="submit"]:hover,
	input.submit:hover,
	.submit-next-button:hover,
	#wpbdp-submit-listing-submit-btn:hover {
		background-color: @color-primary--hover;
	}

	/* Disable Buttons */
	input[type="submit"]:disabled,
	input.submit:disabled,
	a.wpbdp-button:disabled,
	.wpbdp-button:disabled,
	a.reset:disabled {
		border-color: @bg-gray;
		background-color: @bg-gray;
		color: @color-text--60;
		opacity: 0.8;
		cursor: not-allowed;
	}

	/* Small View */
	&[class$="small"],
	&[class$="tiny"] {

		input[type="submit"],
		input.submit,
		a.wpbdp-button,
		.wpbdp-button,
		a.reset {
			width: 100%;
		}
	}
}
