.wpbdp-dnd-area {
    margin: 0 auto;
    border: 2px dashed #ddd;
    width: 98%;
    height: 180px;
    color: #666;
}

 .wpbdp-dnd-area p {
    margin-top: 13px !important;
    margin-bottom: 13px !important;
/*     line-height: 1.5; */
}

.wpbdp-dnd-area .upload-button {
    background: #fff;
    position: relative;
    overflow: hidden;
}

.wpbdp-dnd-area .upload-button a {
}

.wpbdp-dnd-area .upload-button input {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border: none !important;
}

.wpbdp-dnd-area.dragging {
    background: #efefef;
}

.wpbdp-dnd-area .dnd-area-inside {
    margin: 30px auto 0;
    text-align: center;
    color: #aaa;
}

.wpbdp-dnd-area .dnd-area-inside-working {
    color: #000;
    text-align: center;
    margin: 50px auto 0;
}

.wpbdp-dnd-area .dnd-area-inside-working span {
    font-weight: bold;
}

.wpbdp-dnd-area .dnd-area-inside-error {
    font-size: 95%;
    color: #900000;
    text-align: center;
    margin: 50px 25px;
}

