/**
 * Buttons Element Styles
 *
 * This file includes the styles for the buttons element in the plugin.
 */

// This overrides the WP theme button styling
// when the "Button Style Enabled" option enabled.
.wpbdp-with-button-styles {

	a.wpbdp-button,
	.wpbdp-button,
	a.reset,
	#change-plan-link {
		border: 1px solid @border-main;
		background-color: transparent;
		color: var(--bd-main-color);
	}

	a.wpbdp-button:hover,
	.wpbdp-button:hover {
		background-color: var(--bd-main-color);
		color: @white;
	}

	a.reset:hover {
		border-color: @bg-danger;
		background-color: @bg-danger;
		color: darken(@bg-danger, 30%);
	}

	input[type="submit"],
	input.submit {
		border-color: var(--bd-main-color);
		background-color: var(--bd-main-color);
		color: @white;
	}

	input[type="submit"]:hover,
	input.submit:hover,
	#wpbdp-submit-listing-submit-btn:hover {
		opacity: 0.8;
	}

	// Disabled buttons
	input[type="submit"]:disabled,
	input.submit:disabled,
	a.wpbdp-button:disabled,
	.wpbdp-button:disabled,
	a.reset:disabled {
		border-color: @bg-gray;
		background-color: @bg-gray;
		color: @color-text--60;
		opacity: 0.8;
		cursor: not-allowed;
	}
}

body .wpbdp-page,
body .wpbdp-single,
body .wpbdp-excerpt {

	/* stylelint-disable-next-line no-descending-specificity */
	input[type="submit"],
	input.submit,
	a.wpbdp-button,
	.wpbdp-button,
	a.reset,
	#change-plan-link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		white-space: nowrap;
	}

	// View: Small, and Tiny
	&[class$="small"],
	&[class$="tiny"] {

		input[type="submit"],
		input.submit,
		a.wpbdp-button,
		.wpbdp-button,
		a.reset {
			width: 100%;
		}
	}
}
