/* stylelint-disable no-descending-specificity */

/**
 * Buttons Element Styles
 *
 * This file includes the styles for the buttons element in the plugin.
 */

body .wpbdp-page,
body .wpbdp-single,
body .wpbdp-excerpt {

	input[type="submit"],
	input.submit,
	a.wpbdp-button,
	.wpbdp-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid;
		border-color: @btn-bg;
		margin: 0;
		font-weight: 500;
		text-decoration: none;
		line-height: 1;
		transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
		cursor: pointer;
		white-space: nowrap;

		/* Disable Buttons */
		&:disabled {
			border-color: @bg-gray;
			background-color: @bg-gray;
			color: @color-text--60;
			opacity: 0.8;
			cursor: not-allowed;
		}
	}

	a.wpbdp-button,
	.wpbdp-button {
		background-color: transparent;
		color: @btn-bg;

		&:hover {
			background-color: @btn-bg;
			color: @btn-text;
		}
	}

	input[type="submit"],
	input.submit,
	.submit-next-button,
	#wpbdp-submit-listing-submit-btn {
		border-color: @btn-bg;
		background-color: @btn-bg;
		color: @btn-text;

		&:hover {
			opacity: .9;
		}
	}

	/* Small View */
	&[class$="tiny"] {

		input[type="submit"],
		input.submit,
		a.wpbdp-button,
		.wpbdp-button {
			width: 100%;
		}
	}
}

body .wpbdp-page .wpbdp-button.et_pb_button,
body .wpbdp-button.et_pb_button {
	// Fix the hover on the Divi button.
	display: inline-block;

	&:after {
		line-height: inherit;
	}
}

// This overrides the WP theme button styling
// when the "Button Style Enabled" option enabled.
.wpbdp-with-button-styles {

	.wpbdp-checkout-submit input[type="submit"],
	.wpbdp-ratings-reviews input[type="submit"],
	.comment-form input[type="submit"],
	.wpbdp-main-box input[type="submit"],
	.listing-actions a.wpbdp-button,
	.wpbdp-button-secondary,
	.wpbdp-button {
		border: 1px solid @btn-bg !important;
		background-color: @btn-bg !important;
		color: @btn-text !important;
		text-decoration: none !important;

		&:hover {
			background-color: @btn-bg !important;
			opacity: 0.8;
		}
	}

	.wpbdp-button-secondary,
	.wpbdp-button-secondary:hover {
		background-color: transparent !important;
		color: @btn-bg !important;
	}

	.wpbdp-main-box {
		.wpbdp-button {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.wpbdp-main-box-tiny,
	.wpbdp-main-box-small,
	.wpbdp-checkout-submit,
	.wpbdp-submit-page,
	#wpbdp-search-form {

		.wpbdp-button {
			padding-top: @btn-padding-top;
			padding-bottom: @btn-padding-top;
		}
	}

	.wpbdp-main-links-container,
	.wpbdp-main-links-container .wpbdp-main-links {
		.button {
			padding-top: @btn-padding-top;
			padding-bottom: @btn-padding-top;
		}
	}
}
