/* stylelint-disable no-descending-specificity */

/**
 * Buttons Element Styles
 *
 * This file includes the styles for the buttons element in the plugin.
 */

body .wpbdp-page,
body .wpbdp-single,
body .wpbdp-excerpt {

	input[type="submit"],
	input.submit,
	a.wpbdp-button,
	.wpbdp-button,
	a.reset,
	#change-plan-link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		white-space: nowrap;
	}

	input[type="submit"],
	input.submit,
	a.wpbdp-button,
	.wpbdp-button {
		text-decoration: none;
	}

	// View: Small, and Tiny
	&[class$="small"],
	&[class$="tiny"] {

		input[type="submit"],
		input.submit,
		a.wpbdp-button,
		.wpbdp-button,
		a.reset {
			width: 100%;
		}
	}
}

body .wpbdp-page .wpbdp-button.et_pb_button,
body .wpbdp-button.et_pb_button {
	// Fix the hover on the Divi button.
	display: inline-block;

	&:after {
		line-height: inherit;
	}
}

// This overrides the WP theme button styling
// when the "Button Style Enabled" option enabled.
.wpbdp-with-button-styles {

	.wpbdp-checkout-submit input[type="submit"],
	.wpbdp-ratings-reviews input[type="submit"],
	.comment-form input[type="submit"],
	.wpbdp-main-box input[type="submit"],
	.listing-actions a.wpbdp-button,
	.wpbdp-button-secondary,
	.wpbdp-button {
		border: 1px solid var(--bd-main-color) !important;
		background-color: var(--bd-main-color) !important;
		color: @white !important;
		text-decoration: none !important;

		&:hover {
			background-color: var(--bd-main-color) !important;
			opacity: 0.8;
		}
	}

	.wpbdp-button-secondary,
	.wpbdp-button-secondary:hover {
		background-color: transparent !important;
		color: var(--bd-main-color) !important;
	}

	.wpbdp-main-links-container .button,
	.wpbdp-main-links-container .wpbdp-main-links .button {
		padding-top: 6px;
		padding-bottom: 6px;
	}
}
