/* stylelint-disable no-descending-specificity */

/**
 * Form Element Styles
 *
 * This file includes the styles for the forms element in the plugin.
 */

// Basic Form Styles.
.wpbdp-page,
.wpbdp-form-field,
.wpbdp-single,
.wpbdp-excerpt {

	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="url"],
	textarea,
	select,
	.select2 .select2-selection {
		width: 100%;
	}
}

// Form Fields Styles.
.wpbdp-form-field,
#wpbdp-checkout-form-fields {
	margin-bottom: 23px;

	label {

		.wpbdp-form-field-required-indicator {
			margin-left: 2px;
			margin-right: 2px;
			color: @red;
		}
	}

	// Label Description.
	.wpbdp-form-field-description,
	.wpbdp-description {
		display: block;
		font-size: 80%;
		opacity: 0.6;
	}

	.field-description {
		color: @color-text--60;
		font-size: 80%;
	}

	&.wpbdp-form-field-has-description {

		.wpbdp-form-field-label {
			margin-bottom: 0;
		}

		.wpbdp-form-field-description {
			margin-bottom: 3px;
		}
	}

	&.wpbdp-form-field-type-social-network {

		.preview {
			margin-bottom: 20px;

			img {
				display: inline;
			}

			a.delete {
				display: none;
				margin-left: 20px;
				color: @red;
				vertical-align: top;
				font-size: 90%;
			}

			&:hover {

				a.delete {
					display: inline;
				}
			}
		}

		.wpbdp-social-type-field {

			.sublabel {
				display: block;
			}
		}

		.wpbdp-upload-widget {
			max-height: 50px;
		}
	}
}

#wpbdp-checkout-form-fields {

	.exp_month,
	.exp_year {
		max-width: 45%;
	}
}

// Form Validation.
.wpbdp-form-field-validation-error-wrapper {
	margin: 15px 0;

	.wpbdp-form-field-validation-errors {
		position: relative;
		border: 1px solid @red;
		border-radius: @border-radius-main;
		padding: 4px 10px;
		margin: @margin-form-field-with-error;
		background: @white;
		color: @color-text;
		font-size: @font-size-sm;
		line-height: @line-height-body;

		&::after,
		&::before {
			content: "";
			position: absolute;
			top: 100%;
			left: 12px;
			width: 0;
			height: 0;
			border: solid transparent;
			pointer-events: none;
		}

		&::after {
			border-width: 4px;
			border-color: transparent;
			border-top-color: @white;
			margin-left: -4px;
		}

		&::before {
			border-width: 5px;
			border-color: transparent;
			border-top-color: @red;
			margin-left: -5px;
		}
	}

	.wpbdp-form-field {
		margin: 0;
	}

	& + label {
		color: @red;
	}
}
