/**
 * Alerts Element Styles
 *
 * This file includes the styles for the forms element in the plugin.
 */

.wpbdp-page,
.wpbdp-single,
.wpbdp-excerpt {

	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="url"],
	textarea,
	select,
	.select2 .select2-selection {
		width: 100%;
	}

	.wpbdp-form-field-validation-error-wrapper + label {
		color: @red;
	}

	.wpbdp-form-field {
		margin-bottom: 23px;
	}
}
