.wpbdp-listing .listing-title {
	border: none;
	border-bottom: 1px solid #044f8d;
	font-size: 115%;
	margin-bottom: 8px;
	font-weight: bold;
}

.wpbdp-listing .listing-title h3 {
	margin-bottom: 0;
}

.wpbdp-listing .listing-title a {
	text-decoration: none;
	font-weight: bold;
	font-size: 34px;
}

.wpbdp-listing a:not(.wpbdp-button) {
	text-decoration: none;
}

.wpbdp-listing .wpbdp-button {
	padding: .7em 1em;
}

.wpbdp-listing .listing-thumbnail {
	float: left;
	width: 150px;
}

.wpbdp-listing .listing-thumbnail img {
	max-width: 150px;
}

.wpbdp-listing .listing-details {
	margin-left: calc(150px + 24px);
}

.wpbdp-listing .listing-details.wpbdp-no-thumb {
	margin-left: 0;
}

.wpbdp-listing .address-info .address-label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.wpbdp-listing .wpbdp-field {
	margin: 4px 0;
}

.wpbdp-listing .wpbdp-field-type-textarea label,
.wpbdp-listing .wpbdp-field-type-textarea .field-label {
	display: block;
}

.wpbdp-view-show_listing h3 {
	font-size: 28px;
}
