.wpbdp-listing {
	.listing-title {
		border: none;
		border-bottom: 1px solid #044F8D;
		font-size: 115%;
		margin-bottom: 8px;
		font-weight: bold;

		a {
			text-decoration: none;
			font-weight: bold;
			font-size: 34px;
		}
	}

	a:not(.wpbdp-button) {
		text-decoration: none;
	}

	.wpbdp-button {
		padding: 0.74375em 0.775em 0.68125em;
	}

	.listing-thumbnail {
		float: left;
	}

	.listing-details {
		margin-left: 160px;
	}

	.address-info .address-label {
		font-weight: bold;
		display: block;
		margin-bottom: 5px;
	}

	.wpbdp-field {
		margin: 4px 0;
	}

	.wpbdp-field-type-textarea {
		label,
		.field-label {
			display: block;
		}
	}

	.listing-actions {
		text-align: right;
	}
}

.wpbdp-view-show_listing h3 {
    font-size: 28px;
}
