
.wpbdp-theme {
    float: left;
    display: block;
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
    margin: 10px 4% 10px 0;
    width: 46%;
}

.wpbdp-theme:nth-child(2n) {
    margin-right: 0;
}

.wpbdp-theme.active {
    border: 1px solid #2f2f2f;
}

.wpbdp-theme-actions {
    position: absolute;
    float: none;
    top: 3px;
    right: 10px;
}

.wpbdp-theme-actions form { margin: 0; padding: 0; display: inline; }
.wpbdp-theme-actions form input[type="submit"] { margin: 0; }

.wpbdp-theme-details-wrapper {
    display: block;
    position: relative;
    height: 268px;
}

.wpbdp-theme-thumbnail {
    width: 100%;
    height: 268px;
/*    width: 310px;
    height: 232px;*/
}

.wpbdp-theme:hover .wpbdp-theme-thumbnail {
    opacity: 0.4;
}

.wpbdp-theme .enter-license {
    display: none;
    position: absolute;
    float: none;
    font-weight: normal;
    top: 3px;
    right: 10px;
}

.wpbdp-theme .enter-license {
    color: #a00;
}

.wpbdp-theme:hover .enter-license {
    display: block;
}

.wpbdp-theme:hover .choose-theme {
    display: inline-block;
}

.wpbdp-theme.active .choose-theme,
.wpbdp-theme.active:hover .choose-theme {
    display: none;
}

.wpbdp-theme .wpbdp-theme-name {
    padding: 8px;
    margin: 0;
    background: #fafafa;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

.wpbdp-theme.active .wpbdp-theme-name {
    background: #2f2f2f;
    color: #fff;
    border-bottom: 1px solid #2f2f2f;
    font-weight: normal;
}

.wpbdp-theme.active .wpbdp-theme-name span {
    font-weight: bold;
}

.wpbdp-theme .wpbdp-theme-details {
    display: none;
}

.wpbdp-theme:hover .wpbdp-theme-details {
    display: block;
    position: absolute;
    top: 15%;
    bottom: 20%;
    left: 5%;
    right: 5%;
    padding: 10px;
    font-size: 90%;
    background: rgba( 0, 0, 0, 0.8 );
    opacity: 1.0;
    color: #fff;
    border-radius: 3px;
}

.wpbdp-theme-details dl {
    margin: 0;
    padding: 0;
}

.wpbdp-theme-details dt {
    float: left;
    width: 100px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.wpbdp-theme-details dd {
    display: block;
    margin: 0;
    padding: 0;
}

.wpbdp-theme-details p.desc {
    font-size: inherit;
}

.wpbdp-theme a.delete-theme-link {
    display: none;
    color: #fff;
    border-color: #d54e21;
    background: #900000;
    margin-right: 10px;
    opacity: 0.8;
}

.wpbdp-theme a.delete-theme-link:hover {
    background: #900000;
    color: #fff;
    border-color: #d54e21;
    opacity: 1.0;
}

.wpbdp-theme:hover a.delete-theme-link {
    display: inline-block;
}

#wpbdp-admin-page-theme-delete #delete-theme {
    margin-left: 20px;
    color: #a00;
}

#wpbdp-admin-page-theme-delete #delete-theme:hover {
    background: #d54e21;
    border-color: #d54e21;
    color: #fff;
    box-shadow: none;
}

.wpbdp-theme .wpbdp-theme-update-info {
    padding: 5px 10px;
    border-top: solid 2px;
}

.wpbdp-theme .wpbdp-theme-update-info.update-available {
    background: #fef7f1;
    border-color: #D34F2B;
}

.wpbdp-theme .wpbdp-theme-update-info.theme-updated {
    background: #F7FCFE;
    border-color: #1AA1D0;
}

.wpbdp-theme .wpbdp-theme-update-info.update-error {
    border-color: red;
}

.wpbdp-theme .wpbdp-theme-update-info .update-message {
    padding: 2px 4px;
}

.wpbdp-theme .wpbdp-theme-update-info.update-available .update-message {
    background: #fcf3ef;
}

.wpbdp-theme .wpbdp-theme-update-info.update-error .update-message {
    color: red;
}

.wpbdp-theme .wpbdp-theme-update-info.theme-updated .update-message {
    background: #F0F5F7;
}

.wpbdp-theme .wpbdp-theme-license-required-row {
    padding: 5px 10px;
    border-top: solid 2px;
    background: #fef7f1;
    border-color: #D34F2B;
}

