.wpbdp-theme {
    float: left;
    display: block;
    margin:  10px 10px 10px 0;
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
}

.wpbdp-theme.active {
    border: 1px solid #2f2f2f;
}

.wpbdp-theme-thumbnail {
    width: 310px;
    height: 232px;
}

.wpbdp-theme:hover .wpbdp-theme-thumbnail {
    opacity: 0.4;
}

.wpbdp-theme .choose-theme {
    display: none;
    position: absolute;
    float: none;
    font-weight: normal;
    top: 3px;
    right: 10px;
}

.wpbdp-theme:hover .choose-theme {
    display: block;
}

.wpbdp-theme.active .choose-theme,
.wpbdp-theme.active:hover .choose-theme {
    display: none;
}

.wpbdp-theme .wpbdp-theme-name {
    padding: 8px;
    margin: 0;
    background: #fafafa;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

.wpbdp-theme.active .wpbdp-theme-name {
    background: #2f2f2f;
    color: #fff;
    border-bottom: 1px solid #2f2f2f;
    font-weight: normal;
}

.wpbdp-theme.active .wpbdp-theme-name span {
    font-weight: bold;
}

.wpbdp-theme .wpbdp-theme-details {
    display: none;
}

.wpbdp-theme:hover .wpbdp-theme-details {
    display: block;
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 5%;
    right: 5%;
    padding: 10px;
    font-size: 90%;
    background: rgba( 0, 0, 0, 0.8 );
    opacity: 1.0;
    color: #fff;
    border-radius: 3px;
}

.wpbdp-theme-details dl {
    margin: 0;
    padding: 0;
}

.wpbdp-theme-details dt {
    float: left;
    width: 100px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.wpbdp-theme-details dd {
    display: block;
    margin: 0;
    padding: 0;
}

.wpbdp-theme-details p.desc {
    font-size: inherit;
}

.wpbdp-theme a.delete-theme-link {
    display: none;
    box-sizing: border-box;
    position: absolute;
    right: 4px;
    bottom: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    background: #900000;
    padding: 2px 5px;
    border-radius: 2px;
}

.wpbdp-theme:hover a.delete-theme-link {
    display: block;
}
